apiVersion: apps/v1
kind: Deployment
metadata:
  name: gpt-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gpt-app
  template:
    metadata:
      labels:
        app: gpt-app
    spec:
      containers:
        - name: gpt-app
          image: khanhmhq/gpt-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
---
apiVersion: v1
kind: Service
metadata:
  name: gpt-app
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    app: gpt-app
  type: LoadBalancer
